/**
 * @Author: rizwan
 * @Date:   2018-09-14T11:39:03+06:00
 * @Last modified by:   rizwan
 * @Last modified time: 2018-10-09T00:35:23+06:00
 */
html,
body,
div,
p {
	font-family: 'Open Sans', sans-serif;
}

body {
	height: 100%;
}


div.navbar-brand span {
	font-size: 40px;
	font-weight: 700;
	font-style: normal;
	color: #4f4f4a;
	font-family: 'Noticia Text', serif;
}

div.navbar-brand {
	margin-right: 8%;
}

#container-body {
	margin-top: 2%;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #ddbe22 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ddbe22 !important;
}

#spanOne {
	font-size: 74px;
	font-weight: 700;
	font-style: normal;
	color: #4f4f4a;
	font-family: 'Raleway', sans-serif;
}

#spanTwo {
	font-size: 40px;
	font-style: normal;
	color: #4f4f4a;
	font-family: 'Raleway', sans-serif;
}

#profile_pic img {
	height: 350px;
}


#profile_pic {
	padding-top: 3%;
}


.myButton {
	background-color: #FFFFFF;
	color: #79ad1f;
	text-align:center;
    text-decoration:none;
	width: 110px;
	height: 110px;
	border: 2px solid #79ad1f;
	font-size: 14px;
	border-radius: 50%;
	transition: .4s ease-in-out;

}

.myButton:hover {
    background: #79ad1f;
    color: #FFFFFF;
    outline:none;
}



a {
	text-decoration: none;
	color: inherit;
}

 a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }




.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.footer-custom {
	margin-top: .7%;
	background-color: #75527A;
	color: #FFFFFF;
}


#container-body-resume {
	margin-top: 4%;
}

#container-body-project {
	margin-top: 4%;
}

.p_title {
	font-size: 60px;
	font-style: normal;
	color: #4f4f4a;
	font-family: 'Raleway', sans-serif;
}


.p_name {
	font-size: 60px;
	font-style: normal;
	color: #e6b800;
	font-family: 'Raleway', sans-serif;
}


#container-body-resume span {
	font-size: 60px;
	font-style: normal;
	color: #4f4f4a;
	font-family: 'Raleway', sans-serif;
}

.myButtonTwo {
	background-color: #e6b800;
	font-weight: 700;
	color: #FFFFFF;
	text-align:center;
  text-decoration:none;
	width: 120px;
	height: 120px;
	border: none;
	font-size: 14px;
	border-radius: 50%;
	margin-right: 1%;

}
.carousel-item img {
	height: 300px;
	width: 150px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 20px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.4);

}



@media (max-width: 400px) {
	div.navbar-brand span {
		font-size: 30px;
	}
	.myButton {
		width: 90px;
		height: 90px;
	}
}
